.projects {
    min-height: 100vh;
    background-color: #1e2326;
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
    border: 1px solid green;
}

.projectsContainer {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
