@import './../../common/styles/Variables.module';

.projects {
    min-height: 100vh;
    background-color: $mainColor;
    padding-bottom: 100px;
    .container {
        @include flexCenter(flex-start);
        flex-direction: column;
        .projectsContainer {
            width: 100%;
            @include flexCenter(space-around);
            flex-wrap: wrap;
            column-gap: 50px;
            row-gap: 50px;
        }
    }
}
