$themeColor: #F07F81;
$mainColor: #1e2326;
$restColor: #252b2f;
$textColor: #F0F0F0;
$secondaryTextColor: #b5b5b5;
$primaryFont: 'Roboto Mono', monospace;
$secondaryFont: 'Ubuntu', monospace;
$borderColor: #31383d;

@mixin flexCenter($justifyContentOption: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContentOption;
}

:export {
  mainColor: $mainColor;
}
