.main {
    height: 100vh;
    background-color: #101010;
}

.greeting {
    width: 300px;
    background-color: #4f4848;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightgreen;
}

.keyboardSpan {
    color: #be6767;
    animation: hideShow;
    animation-iteration-count: infinite;
    animation-duration: .7s;
    animation-timing-function: steps(2, jump-none);
}

@keyframes hideShow {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


