@import './../../../common/styles/Variables.module';

.wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  @include flexCenter(center);
  max-width: 200px;
  padding: 10px;
  background-color: #18a5d5;
  opacity: .7;
  color: $textColor;
  border-radius: 10px;
}