@import './../../common/styles/Variables.module';

.up {
    position: fixed;
    @include flexCenter(center);
    background-color: $themeColor;
    width: 55px;
    height: 55px;
    bottom: 150px;
    border-radius: 0 5px 5px 0;
    left: 0;
    opacity: 0;
    animation: show 3s forwards;
    cursor: pointer;
    .svg {
        color: $mainColor;
    }
}

@keyframes show {
    to {
        opacity: .5;
    }
}