.wrapper {
    height: 60vh;
    background-color: darkorchid;
}

.container {
    flex-direction: column;
}

.title {
}

.inputsContainer {
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs * {
    width: 100%;
}
